#Menu Entry created by Lance http://www.pendrivelinux.com for use on Universal Multiboot UFD Creator
menu title Antivirus Live CD
menu background yumi.png
MENU WIDTH 72
MENU MARGIN 10
MENU VSHIFT 3
MENU HSHIFT 6
MENU ROWS 15
MENU TABMSGROW 20
MENU TIMEOUTROW 22
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none

label Console
menu label AntivirusLiveCD with Default Display
kernel /multiboot/antiviruslivecd/boot/bzImage
append initrd=/multiboot/antiviruslivecd/boot/initrd.gz rw root=/dev/ram0 vga=normal

label Framebuffer
menu label AntivirusLiveCD with VESA Framebuffer
kernel /multiboot/antiviruslivecd/boot/bzImage
append initrd=/multiboot/antiviruslivecd/boot/initrd.gz rw root=/dev/ram0 vga=ask
